/****************************************************************************
 * HEADER
 ***************************************************************************/


#header {
    margin-bottom: 0;
}

    .navbar-inner {
        border: 0;
        background: #333;
        box-shadow: none;
        border-radius: 0;
        padding-top: 5px;
        padding-bottom: 5px;
    }

    #header .brand {
        background: url(../img/logo-nav.png) no-repeat;
        height: 30px;
        width: 30px;
        text-indent: 35px;
        margin-top: 10px;
        font-family: Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;

        /* Reset bootstrap properties */
        margin-left: 0;
        padding: 0;
        color: #fff;
        text-shadow: None;
    }

    #search input {
        border-color: #444;
        font-family: 'Droid Sans';
        background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #e8e5e5), color-stop(100%, #ffffff));
        background: -webkit-linear-gradient(top, #e8e5e5, #ffffff);
        background: -moz-linear-gradient(top, #e8e5e5, #ffffff);
        background: -o-linear-gradient(top, #e8e5e5, #ffffff);
        background: linear-gradient(top, #e8e5e5, #ffffff);
        -webkit-box-shadow: inset rgba(0, 0, 0, 0.65) 0 1px 5px, rgba(255, 255, 255, 0.2) 0 1px 1px;
        -moz-box-shadow: inset rgba(0, 0, 0, 0.65) 0 1px 5px, rgba(255, 255, 255, 0.2) 0 1px 1px;
        box-shadow: inset rgba(0, 0, 0, 0.65) 0 1px 5px, rgba(255, 255, 255, 0.2) 0 1px 1px;
        border: 1px solid #000;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        -ms-border-radius: 5px;
        -o-border-radius: 5px;
        border-radius: 5px;
        outline: none;
        font-size: 14px;
        line-height: normal;
        color: #000;
        -webkit-appearance: none;
    }

/****************************************************************************
 * VIDEOS
 ***************************************************************************/

#videos {
    margin: 0;
    padding: 0;
    list-style: none;
}

    #videos li {
        float: left;
        margin-bottom: -5px;
    }
